// menu container

// menu item
$hierarchical-menu-text-color: #337ab7 !default;
// separator
$hierarchical-menu-item-separator-color: #337ab7 !default;
// active
$hierarchical-menu-active-text-color: #337ab7 !default;
$hierarchical-menu-active-bg-color: #fcfcfc !default;
// hover
$hierarchical-menu-hover-text-color: #337ab7 !default;
$hierarchical-menu-hover-bg-color: #fcfcfc !default;
