@import "variables";

.hierarchical-menu {
  width: 100%;

  // ul
  .hm-level {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  // ul > li
  .hm-item {
    text-align: left !important;
  }
  // ul > li > div
  .hm-line {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 100%;

    min-height: 3.0rem;

    font-weight: normal;
    line-height: normal;
    text-align: initial;
    text-decoration: none;

    border-bottom: 1px solid $hierarchical-menu-item-separator-color;

    .hm-link {
      min-height: inherit;
      width: 100%;

      button {
        color: $hierarchical-menu-text-color;
        padding: 8px 10px;

        .hm-icon {

        }
      }
    }

    .hm-expander {
      min-height: inherit;
      color: $hierarchical-menu-text-color;

      button {
        color: $hierarchical-menu-text-color;
        padding: 0.3rem 1rem 0 1rem;
        min-width: 2rem;
        font-size: 2rem;
        user-select: none;
      }
    }

    .active {
      color: $hierarchical-menu-active-text-color;
      background-color: $hierarchical-menu-active-bg-color;
    }

    button {
      background:none; // !important;
      border:none;
      font: inherit;
      text-align: left;
      cursor: pointer;
      text-decoration: none;
      width: 100%;
    }
  }

  .hm-line:hover {
    color: $hierarchical-menu-hover-text-color;
    background-color: $hierarchical-menu-hover-bg-color;
  }
}
