.hierarchical-menu {

  height: 100%; /* Full height */
  //position: fixed; /* Make it stick, even on scroll */
  //overflow: auto; /* Enable scrolling if the sidenav has too much content */

  .hierarchical-menu-level {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }

  .hierarchical-menu-item {

    a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;

      :hover {
        background-color: #555;
        color: white;
      }
    }
  }

}