<ul>
    <li *ngFor="let item of menuItems" [ngClass]="">
        <button>
            <!-- TBD Icon -->
            <i *ngIf="item.useIconsByFontAwesome" class="fa {{ item.icon }}" aria-hidden="true"></i>
            <ion-icon *ngIf="item.useIconsByIonic()" name="{{ item.icon }}"></ion-icon>
            {{ item.title | translate }}
            <span (click)="toggle(item)">{{ item.expanded ? '-' : '+'}}</span>
        </button>
        <hierarchical-menu-item *ngIf="item.expanded && item.hasChildren" [menuItems]="item.children"></hierarchical-menu-item>
    </li>
</ul>