<ol class="tree">
    <li *ngFor="let item of jamItems" [ngClass]="">
        <!-- TBD Icon -->
        {{ item.title }}
        <!-- TBD Translated -->
        {{ item.title | translate }}
        <!-- TBD
        <a *ngIf="contentNode.HasChildren" (click)="contentNode.toggle=!contentNode.toggle" class="toggle">{{ !!contentNode.toggle ? '-' : '+' }}</a>
        {{ contentNode.Name }}
        <content-list *ngIf="contentNode.expanded" [startingNode]="contentNode.Id"></content-list>
    </li>
</ol>